/* src/PomodoroTimer.css */
.pomodoro-timer {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(156, 41, 9);
}

.pomodoro {
  background-color: rgb(212, 88, 54);
  color: white;
  border-radius: 1em;
  padding: 5em;
}

.timer-display {
  font-size: 4rem;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(156, 41, 9);
  color: white;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

.time-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.time-radio {
  margin-right: 10px;
}

.time-label {
  font-size: 1.2em;
  font-weight: bold;
}
